<?xml version="1.0" ?><cruisecontrol>
  <!-- Project general information -->
  <property name="project_full_name" value="FSL Integration tests">Project name. Ex: MQX 5.0 RTM</property>
  <property name="test_station" value="ZCZ01-1109">Test station where project is running.</property>
  <property name="derivative" value="PXS30 K60D K70F Vybrid_A5 Vybrid_M4 AutoEVB_A5 AutoEVB_M4">Tested device derivative.</property>
  <property name="support_team" value="'Michal Starecek' michal.starecek@freecale.com;">People responsible for this project.</property>

  <!-- Source code configuration -->
  <property name="arfrm_dir" value="D:/cc/zcz01-1109_view_main_latest/arfrm">Path to VnV Arfrm folder.</property>
  <property name="frm_dir" value="D:/cc/zcz01-1109_view_main_latest/vnv_dist">Path to VnV vnv_dist folder</property>
  <property name="view_dir" value="D:/cc/zcz01-1109_view_main_latest">Tested source code root dir - For ClearCase</property>
  <property name="working_copy_dir" value="D:/cc/mqx-repo">Tested source code root dir - For GIT</property>
  <property name="dev_dir" value="D:/cc/mqx-repo">Development Directory drivers, tests</property>

  <!-- Output folders -->
  <property name="output" value="d:/local/output">Output folder for everything that AF produces</property>
  <property name="cruise_dir" value="d:/local/output">For sake of compatibility.</property>
  
  <!-- Configuration -->
  <property name="tests_config" value="d:/local/af/tests_config">Path to generated tests configuration files</property>

  <!-- MAF Configuration -->
  <property name="maf_host" value="127.0.0.1">MAF host or ip address</property>
  <property name="maf_port" value="49165">MAF Port</property>
  <property name="maf_dir" value="${frm_dir}/testfrm/ioserver/cmd">Path to MAF SH commands folder</property>

  <!-- Build-Only Settings -->
  <property name="build_only" value="off">Perform only build tests</property>
  
  <!-- Remote Run Settings -->
  <property name="RRun" value="OFF">Enable RemoteRun</property>
  <property name="RRun_IP" value="zcz01-3032">RemoteRun server IP address</property>
  <property name="RRun_port" value="49175">RemoteRun server port</property>
  <property name="RRun_device" value="0">RemoteRun device</property>
  
  <!-- Test Reporter settings -->
  <property name="reporter" value="off">Enable Reporter</property>
  <property name="reporter_ip" value="ZCZ01-1108">Reporter server address</property>
  <property name="reporter_port" value="49150">Reporter server port</property>

  <!-- Test station configuration -->
  <property name="platforms" value="twrpxs30 twrk60d100m twrk70f120m twrvf65gs10_a5 twrvf65gs10_m4 vybrid_autoevb_a5 vybrid_autoevb_m4">Device used</property>
  <property name="compilers" value="cw10 cw10gcc iar uv4 ds5 gcc_arm">Compiler(s) used</property>
  <property name="debugger" value="iar">Debugger used</property>
  <property name="af_version" value="1">Major version of AF</property>
  
  <!-- Tools configuration -->
  <property name="cw10_dir" value="d:/vv_tools/cw/mcu_10_4">Path to CW10</property>
  <property name="cw10gcc_dir" value="d:/vv_tools/cw/mcu_10_4">Path to CW10 GCC</property>
  <property name="iar_dir" value="d:/vv_tools/iar/ewarm_6_50_5">Path to IAR</property>
  <property name="uv4_dir" value="d:/vv_tools/keil/mdk_4_71">Path to Keil</property>
  <property name="ds5_dir" value="d:/vv_tools/ds5/rel_15_1">Path to DS5</property>
  <property name="gcc_cs_dir" value="d:/vv_tools/gcc/cs_56">Path to GCC (CodeSourcery)</property>
  <property name="gcc_arm_dir" value="d:/vv_tools/gcc/arm_47">Path to GCC (ARM)</property>
  <property name="t32_dir" value="d:/vv_tools/T32">Path to Lauterbach</property>
  
  <!-- Test configuration include -->
  <include.projects file="tests_config/tests_index.xml"/>
  <include.projects file="tests_config/custom_index.xml"/>
  
  <!-- Threads count. For parallel building. -->
    <system>
    <configuration>
      <threads count="1"/>
    </configuration>
    </system>
    
 </cruisecontrol>