{% load static %}

{% load extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="SHORTCUT ICON" href='{% static "pics/freescale.ico" %}'>
    {% block head %}{% endblock %}

</head>
<body>
{% block content %}{% endblock %}

{% block history %}
<table align="center">
    <tr>
        <td class="info"><b>History</b></td>
        <td>
            <select id="date_combo" name="history" onchange="go_to_select_url(this, '{{ target }}')">
                <option value="latest">today-ish</option>
                {% for item in time_items %}
                    <option value="{{ item }}" {% if item == time_select %} selected {% endif %}>{{ item|full_date }}</option>
                {% endfor %}
            </select>
            {% if branch_select != None %}
            <select id="branch_combo" name="branch" onchange="go_to_select_url(this, '{{ target }}')">
                {% for item in branch_items %}
                    <option value="{{ item }}" {% if item == branch_select %} selected {% endif %}>{{ item }}</option>
                {% endfor %}  
            </select>
            {% endif %}
        </td>
    </tr>
    {% if branch_select != None %}
    <tr>
        <td class="info"><b>Branch</b></td>
        <td class="info">{{ branch_select|getBranchFromGitInfo }}</td>
    </tr>
    <tr>
        <td class="info"><b>Commit</b></td>
        <td class="info">{{ branch_select|getSHAFromGitInfo }}</td>
    <tr>
    {% endif %}
</table>

<script type="text/javascript" language="javascript">
function go_to_select_url(select, target) {

    var date_sel = document.getElementById("date_combo")
    var branch_sel = document.getElementById("branch_combo")
    var path = "/" + target
    
    if (date_sel.selectedIndex != 0)
        path += "/" + date_sel.options[date_sel.selectedIndex].value
    if (branch_sel != null && branch_sel.selectedIndex > -1 )
        path += "/" + branch_sel.options[branch_sel.selectedIndex].value
    
    window.location.replace(path)

}

</script>

{% endblock history %}

<div id="dynwin" style="position:absolute; visibility:hidden; z-index:1000;"></div>

<script type="text/javascript" language="javascript">
    <!--
    var Lx = 0;
    var Ly = 0;
    var htmlText = '';
    var obj = null;
    // Decide browser version
    var ns4 = (navigator.appName == 'Netscape' && parseInt(navigator.appVersion) == 4);
    var ns6 = (document.getElementById)? true:false;
    var ie4 = (document.all)? true:false;
    if (ie4) var docRoot = 'document.body';
    var ie5 = false;
    if (ns4) {
        var oW = window.innerWidth;
        var oH = window.innerHeight;
        window.onresize = function () {if (oW!=window.innerWidth||oH!=window.innerHeight) location.reload();}
    }

    // Detect IE version
    if (ie4) {
        if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)){
            var ieversion=new Number(RegExp.$1)
            if ( ieversion > 4 ) {
                if(document.compatMode && document.compatMode == 'CSS1Compat') docRoot = 'document.documentElement';
                ie5 = true;
            }
        }
        if (ns6) {
            ns6 = false;
        }
    }
    // Frame support
    if ( (ns4) || (ie4) || (ns6) ) {
        if (ns4) obj = self.document.dynwin
        if (ie4) obj = self.dynwin.style
        if (ns6) obj = self.document.getElementById("dynwin");
    }
    // Capture events
    if ( (ns4) || (ie4) || (ns6)) {
        document.onmousemove = mouseMove
        if (ns4) document.captureEvents(Event.MOUSEMOVE)
    }
    // Display Window
    function HandleMoveOn(intext) {
        htmlText="<table border=0 cellspacing=0 cellpadding=2 width=100 bordercolor='BLACK'><tr><td bgcolor='LIGHTYELLOW' align=left nowrap>" + intext + "</td></tr></table>";
        // Write the layer
        if (ns4) {
            var lyr = self.document.dynwin.document
            lyr.write(htmlText)
            lyr.close()
        } else if (ie4) {
            self.document.all["dynwin"].innerHTML = htmlText
        } else if (ns6) {
            range = self.document.createRange();
            range.setStartBefore(obj);
            domfrag = range.createContextualFragment(htmlText);
            while (obj.hasChildNodes()) {
                obj.removeChild(obj.lastChild);
            }
            obj.appendChild(domfrag);
        }
        // Position the layer
        if ( (ns4) || (ie4) ) {
            obj.left = (ie4 ? Lx + 'px' : Lx);
            obj.top = (ie4 ? Ly + 'px' : Ly);
        } else if (ns6) {
            obj.style.left = Lx + "px";
            obj.style.top = Ly + "px";
        }
        // Display the layer
        if (ns4) obj.visibility = "show";
        else if (ie4) obj.visibility = "visible";
        else if (ns6) obj.style.visibility = "visible";
    }
    // Moves the layer
    function mouseMove(e) {
        var offset = 15 //Offset for popup box coordinates
        if ( (ns4) || (ns6) ) {Lx=e.pageX+offset; Ly=e.pageY+offset;}
        if (ie4) {Lx=event.x+offset; Ly=event.y+offset;}
        if (ie5) {Lx=eval('event.x+self.'+docRoot+'.scrollLeft')+offset; Ly=eval('event.y+self.'+docRoot+'.scrollTop')+offset;}
    }
    // Remove Window
    function HandleMoveOff() {
        if (ns4) obj.visibility = "hide";
        else if (ie4) obj.visibility = "hidden";
        else if (ns6) obj.style.visibility = "hidden";
    }
    //-->
</script>

</body>
</html>
